.contacts{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 50vh;
}
.contactInf{
    width: 500px;
    min-height: 300px;
    border: 1px solid black;
}
.information{
    margin: 1rem;
    border: 1px solid black;
}
.map{
    width: 600px;
    min-height: 300px;
    border: 1px solid black;
}